@import url(http://fonts.googleapis.com/css?family=Oswald);

a,
a:link,
a:active,
a:visited {
color:#FFF; 
text-decoration:none 
}
a:hover {
color:#FFF;
text-decoration: underline
}


.body_bg {
	background-size:cover;
	position:relative;
}
.coming_img {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
}
.coming_img li {
	list-style:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-position:right bottom;
	background-size:cover;
	filter:alpha(opacity=80);
	z-index:0;

}
.coming_img li.selected{
	filter:alpha(opacity=80);
	z-index:1;
	width:100%;
	height:100%;
}
.coming_img li img {
	display:none;}

#dnn_wrapper {
	background:url(images/ComingSoon_bg.png);
	position:relative;
	z-index:1;
}


.comingsoonbox {
	position:absolute;
	left:0px;
	top:0px;
	z-index:2;
	width:100%;
	height:100%;
}
.comingsoonbox td{
	text-align:center;
	vertical-align:middle
}

.title13 {
  font-family:'Oswald';
  font-weight:normal;
  letter-spacing:2px;
}

#countdown {
	margin:auto;
	z-index:2;
	text-align:center;
	margin:0;
	padding:0;
	color:#FFF;
}
ul#countdown li {
	display: inline-block;
	text-align: center;
	text-shadow: 0 0 4px rgba(0,0,0,.2);
	margin:2px 5px;
}
*+html ul#countdown li {
	display:inline;
}

ul#countdown li span {
  color: #fff;
  font-size:72px;
  display:block;
  white-space:nowrap;
  font-family:'Oswald';
}
ul#countdown li p {
	font-size:20px;
	color:#FFF;
	text-transform:uppercase;
	padding-right:5px;
}

ul#countdown li ul {
	width:80px;
	position:relative;
	height:135px;
	display:inline-block;
	padding:0px 10px;
	margin:0;
}
*+html ul#countdown li ul {
	display:inline;
}
ul#countdown li ul li{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 50% 50% -50px;
	-ms-transform-origin: 50% 50% -50px;
	transform-origin: 50% 50% -50px;
	background:url(images/opacity_20.png);
	width:68px;
	height:100px;
	line-height:100px;
	margin:0px;
	padding:0px;
	border-radius:			6px;
	-moz-border-radius:		6px;
	-webkit-border-radius:	6px;

}


@-webkit-keyframes flipCube {
0% {
-webkit-transform:rotateX(0deg) translateZ(-56px);
transform:rotateX(0deg) translateZ(-56px)
}
100% {
-webkit-transform:rotateX(-90deg) translateZ(0px) translateY(56px);
transform:rotateX(-90deg) translateZ(0px) translateY(56px)
}
}
@keyframes flipCube {
0% {
-webkit-transform:rotateX(0deg) translateZ(-56px);
-ms-transform:rotateX(0deg) translateZ(-56px);
transform:rotateX(0deg) translateZ(-56px)
}
100% {
-webkit-transform:rotateX(-90deg) translateZ(0px) translateY(56px);
-ms-transform:rotateX(-90deg) translateZ(0px) translateY(56px);
transform:rotateX(-90deg) translateZ(0px) translateY(56px)
}
}
.flip-clock-wrapper ul li.flip-clock-before {
	visibility: hidden
}
@-webkit-keyframes active-to-before {
0% {
opacity:1;
-webkit-transform:perspective(400px) rotateX(0deg);
transform:perspective(400px) rotateX(0deg)
}
100% {
opacity:0;
-webkit-transform:perspective(400px) rotateX(-90deg);
transform:perspective(400px) rotateX(-90deg)
}
}
@keyframes active-to-before {
0% {
opacity:1;
-webkit-transform:perspective(400px) rotateX(0deg);
-ms-transform:perspective(400px) rotateX(0deg);
transform:perspective(400px) rotateX(0deg)
}
100% {
opacity:0;
-webkit-transform:perspective(400px) rotateX(-90deg);
-ms-transform:perspective(400px) rotateX(-90deg);
transform:perspective(400px) rotateX(-90deg)
}
}
@-webkit-keyframes default-to-active {
0% {
opacity:0;
-webkit-transform:perspective(400px) rotateX(90deg);
transform:perspective(400px) rotateX(90deg)
}
80% {
opacity:1
}
100% {
opacity:1;
-webkit-transform:perspective(400px) rotateX(0deg);
transform:perspective(400px) rotateX(0deg)
}
}
@keyframes default-to-active {
0% {
opacity:0;
-webkit-transform:perspective(400px) rotateX(90deg);
-ms-transform:perspective(400px) rotateX(90deg);
transform:perspective(400px) rotateX(90deg)
}
80% {
opacity:1
}
100% {
opacity:1;
-webkit-transform:perspective(400px) rotateX(0deg);
-ms-transform:perspective(400px) rotateX(0deg);
transform:perspective(400px) rotateX(0deg)
}
}


ul#countdown li ul li.selected{
	-webkit-animation: default-to-active .7s both;
	animation: default-to-active .7s both;
	visibility: visible;
	z-index:2;
}

ul#countdown li ul li.prepare{
	-webkit-animation: active-to-before .7s both;
	animation: active-to-before .7s both;
	visibility: visible;
	z-index:1;
	filter:alpha(opacity=0);
	opacity:0;
}




ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
  color: #fff;
  font-size:20px;
  margin:0;
}



.email_box{
	width:50%;
	padding-right:100px;
	position:relative;
	margin:auto;
	background:#FFF;
	border-radius:			5px;
	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
}
.email_text {
	padding:15px 20px;
}
.email_text input {
	width:100%;
	border:none;
	background:none;
	font-size:16px;
	color:#444444;
}
.email_submit {
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
	background:#00bfa7;
	width:100px;
	border-radius:			0px 5px 5px 0px;
	-moz-border-radius:		0px 5px 5px 0px;
	-webkit-border-radius:	0px 5px 5px 0px;
}
.email_submit input{
	width:100%;
	height:100%;
	cursor:pointer;
	background:none;
	border:none;
	position:relative;
	z-index:10
}
*+html .email_submit input{
	height:50px;
	margin-top:-40px
}


.email_submit .glyphicons{
	position:absolute;
	font-size:40px;
	color:#FFF;
	top:50%!important;
	left:50%!important;
	margin:-20px 0px 0px -20px;
	z-index:9;
	
}

.social_list {
	color:#FFF;
	font-size:15px;
}

.copyright_style {
	text-align:center;
	color:#FFF;
	float:none;
	
}

@media (min-width: 1200px) {
ul#countdown li {
	margin:2px 20px;
}
ul#countdown li ul {
	padding:0px 10px;
	
}
ul#countdown li ul {
	width:90px;
}

ul#countdown li ul li{
	width:75px;
	height:112px;
	line-height:112px;
	-webkit-transform-origin: 50% 50% -56px;
	-ms-transform-origin: 50% 50% -56px;
	transform-origin: 50% 50% -56px;
	background:url(images/opacity_20.png);
}

}
@media (min-width: 768px) and (max-width: 979px),(min-device-width: 768px) and (max-device-width: 1024px)  {

	ul#countdown li {
		margin:2px 2px;
	}
	ul#countdown li span {
	  font-size:40px;
	}
	ul#countdown li p {
		font-size:20px;
	}
	ul#countdown li ul {
		width:68px;
		height:100px;
		padding:0px 6px;
	}
	ul#countdown li ul li{
		-webkit-transform-origin: 50% 50% -40px;
		-ms-transform-origin: 50% 50% -40px;
		transform-origin: 50% 50% -40px;
		width:60px;
		height:80px;
		line-height:88px;
	}
}
@media (max-width: 767px) {
	ul#countdown li {
		margin:2px 4px;
	}
	ul#countdown li span {
	  font-size:40px;
	}
	ul#countdown li p {
		font-size:20px;
	}
	ul#countdown li ul {
		width:45px;
		height:80px;
		padding:0px 6px;
		margin:0;
	}
	ul#countdown li ul li{
		-webkit-transform-origin: 50% 50% -44px;
		-ms-transform-origin: 50% 50% -44px;
		transform-origin: 50% 50% -44px;
		width:40px;
		height:56px;
		line-height:56px;
	}

} 
@media (max-width: 600px) {
	
	ul#countdown li span {
	  font-size:30px;
	}
	ul#countdown li p {
		font-size:15px!important;
	}
	
	ul#countdown li ul {
		width:35px;
		height:55px;
		padding:0px 3px;
}
ul#countdown li ul li{
	-webkit-transform-origin: 50% 50% -22px;
	-ms-transform-origin: 50% 50% -22px;
	transform-origin: 50% 50% -22px;
	width:32px;
	height:44px;
	line-height:44px;
}
	
	
}
@media (max-width: 450px) {
	ul#countdown li{
		margin:2px 0px 20px;}
	
	ul#countdown li span {
	  font-size:24px;
	}

	ul#countdown li ul {
		width:27px;
		height:45px;
		padding:0px 3px;
	}
	ul#countdown li ul li{
		-webkit-transform-origin: 50% 50% -33px;
		-ms-transform-origin: 50% 50% -33px;
		transform-origin: 50% 50% -33px;
		width:25px;
		height:33px;
		line-height:33px;
	}

}

@media (max-width: 300px) {
	
		ul#countdown li span {
	  font-size:14px;
	}

	ul#countdown li ul {
		width:16px;
		height:25px;
		padding:0px 3px;
	}
		ul#countdown li p {
		font-size:10px!important;
		 -webkit-text-size-adjust:none; 
	}

	ul#countdown li ul li{
		-webkit-transform-origin: 50% 50% -11px;
		-ms-transform-origin: 50% 50% -11px;
		transform-origin: 50% 50% -11px;
		width:20px;
		height:25px;
		line-height:25px;
		border-radius:			3px;
		-moz-border-radius:		3px;
		-webkit-border-radius:	3px;

	}
	
	
}


