@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=ABeeZee);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

#Body,
.Head,
.Login a,
.Login a:active,
.Login a:link,
.Login a:visited,
.Normal,
.SubHead,
.SubSubHead,
body,
html {
    color: #777;
    font-size: 13px;
    font-family: 'Open Sans';
    line-height: 1.8
}

.H6_Services_box span,
.H6_Testimonials_tab .mark,
.H6_Testimonials_tab.Testimonials_tab .H6_Testimonials_name,
.Link_list li,
.h6_photo_box .photo_box .ico span,
A,
A:active,
A:hover,
A:link,
A:visited {
    color: #04478a
}

button,
html,
input,
select,
textarea {
    font-family: 'Open Sans';
    width: 100%;
    height: 50px
}

.Login,
.languageBox .language-object .Language {
    height: 40px;
    line-height: 40px;
    float: right
}

#dnn_wrapper {
    width: auto;
    background: #FFF
}

.ls-layer,
.ls-layer * {
    font-family: 'Open Sans'!important
}

#styler_slider .update_click,
.Answers_List li:hover span.Answers_icon,
.RightPaneProfile .active,
.RightPaneProfile .console-none:hover,
.Services_List .col-sm-3:hover .Services_icon,
.Theme_Responsive_Default .btn,
.accordion_2 .panel-heading .panel-title a span,
.accordion_2 .panel-heading .panel-title a:hover span,
.dropdown-menu .active>a,
.dropdown-menu .active>a:hover,
.dropdown-menu li>a:hover,
.filter_block #filters li.selected a,
.filter_block #filters li.selected a:hover,
.filter_block .filter-switch,
.functionBox:hover .functionIcon,
.gallery_container .gallery_tags a:hover,
.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.price-table .col.best_value .price_title,
.price-table a.btn,
.tabs-left .nav-tabs>.active>a,
.tabs-left .nav-tabs>.active>a:hover,
.tabs-right .nav-tabs>.active>a,
.tabs-right .nav-tabs>.active>a:hover,
.tabs-top-group2 .panel-heading:hover .panel-title a,
.team_title,
.userProfile .userMessages,
.userProperties ul.userMenu a span,
a.Button_default,
a.Button_green {
    background-color: #04478a
}

.Theme_19_Normal .view-tenth:hover .mask,
.Theme_25_Default .flex-control-paging li a.flex-active,
.blockquote_box .dot a.actived {
    background-color: #04478a!important
}

#anchorNav li i,
.H6_work_bnt a:hover,
.Theme_Responsive_20047 .btn,
.Theme_Responsive_No_Title .btn,
.anchorTag.iconimg span,
.con_a .left .box .icon,
.con_a .right .box .icon,
.isotope_grid.isotope_grid_home5 .isotope_group a.active,
.isotope_grid.isotope_grid_home5 .isotope_group a:hover {
    background-color: #04478a
}

.comment_form div.submit_button .CommandButton {
    border: 1px solid #04478a;
    color: #04478a
}

.ServeList .ServeBox:hover {
    border: 10px solid #04478a
}

.H5_list_one span.glyphicons,
.isotope_grid.isotope_grid_home5 .isotope_group a.active,
.isotope_grid.isotope_grid_home5 .isotope_group a:hover {
    border: 1px solid #04478a
}

.AboutUs_tit_color:after,
.Service_tit_color:after {
    border-bottom: 2px solid #04478a
}

.con_e a {
    color: #04478a!important
}

.AboutUs_tit_color h2,
.ColorCenter,
.H5_list_one span.glyphicons,
.H7_Aboutus_box h2,
.H7_One_con h2,
.H7_pic_box_con h2,
.H7_tit,
.Home5_loaded_list h2,
.backgroundImage19_con,
.backgroundImage_H7bg h2,
.isotope_grid1 .photo_box .ico h3 {
    color: #04478a
}

.H7_Social_center .social:hover {
    color: #04478a!important
}

.H7_add_box span,
a.H7_bnt2,
a.H7_bnt:hover {
    border: 1px solid #04478a;
    color: #04478a!important
}

.H7_One_con:hover .H7_icon {
    border: 2px solid #04478a;
    color: #04478a
}

.H7_carouse.carousel .owl-buttons .owl-next:hover,
.H7_carouse.carousel .owl-buttons .owl-prev:hover {
    background: #04478a
}

.H7_leftside_nav .social-icons a:hover,
.H7_leftside_nav a,
.H7_leftside_nav a:hover {
    color: #69b532
}

.OurServices_Box .nav-tabs li.active a,
.OurServices_Box .nav-tabs li.active a:hover,
.OurServices_list li a:hover,
.Theme_19_Normal .filter_navigation ul ul li a:hover,
.Theme_19_Normal .filter_navigation ul ul li.selected a,
.accordion_2 .panel-heading .panel-title a,
.accordion_2 .panel-heading .panel-title a.collapsed:hover,
.accordion_2 .panel-heading .panel-title a:hover,
.filter_block #filters li a:hover,
.filter_block .sort_box li a:hover,
.functionList_6 .functionBox .functionIcon,
.social-icons a:hover,
.tabs-top-group2 .panel-heading:hover .accordion_icon,
a.glyphicons:hover,
a.social:hover,
blockquote small {
    color: #04478a
}

.Skin_03_Default #filters li.selected a,
.Skin_03_Default #filters li.selected a:hover,
.galler_datail .single_meta a:hover,
.news_list h2.news_title a:hover,
.post_date a:hover,
a.Button_white span {
    color: #04478a!important
}

.Skin_03_Default .gallery_tags a:hover,
.Skin_03_Default .view-tenth:hover .portfolio_descr,
.post_categories a:hover {
    background-color: #04478a!important
}

.ContentBottom2,
.Order_List li span.number,
.accordion_3 .panel-heading .panel-title a span,
.accordion_3 .panel-heading .panel-title a:hover span,
.functionList_3 .functionBox:hover .functionIcon,
.functionList_6 .functionBox:hover .functionIcon,
.list_list li span.ico,
.price-table2 .price_box,
.price-table2 .price_title,
a.Button_default2 span,
a.Button_default3,
a.Button_green2 {
    background-color: #04478a
}

.Theme_21_LinkAndZoom_Normal .pager a.selected {
    background-color: #04478a!important
}

.BannerBox,
.Testimonials_5 blockquote p,
.Testimonials_tab .last_page:hover,
.Testimonials_tab .next_page:hover,
.accordion_5 .panel-heading .accordion_icon,
.backgroundImage16,
.backgroundImage4_shade:before,
.carousel .owl-page.active,
.carousel_1 .item:hover .glyphicons,
.carousel_2 .owl-buttons .owl-next:hover,
.carousel_2 .owl-buttons .owl-prev:hover,
.carousel_2 .pic .glyphicons,
.carousel_3 .owl-buttons .owl-next:hover,
.carousel_3 .owl-buttons .owl-prev:hover,
.carousel_4 .sliding h3,
.carousel_6 .owl-buttons .owl-next:hover,
.carousel_6 .owl-buttons .owl-prev:hover,
.carousel_7 .item:hover .sliding,
.dropcaps_5,
.dropcaps_6,
.horizontalTab_Top_2 ul.resp-tabs-list li.resp-tab-active span,
.img_style_1 a:hover .glyphicons:before,
.img_style_2 a .glyphicons,
.img_sytle_7:hover,
.loaded_list .progress-bar,
.loaded_list2 .progress .progress-bar,
.price-table3 .best_value .price_holder .btn,
.price-table3 .best_value .price_title,
.price-table3 .price_holder .btn:hover,
.price-table5 .best_value .price_holder a.btn,
.price-table5 .price_border:hover .price_holder a.btn,
.price-table5 .price_holder a.btn:hover,
.quotes_3 blockquote,
.verticalTab_Left .resp-tab-active,
.verticalTab_Left .resp-tab-active:hover,
.verticalTab_Left ul.resp-tabs-list li.resp-tab-active,
.verticalTab_Left ul.resp-tabs-list li.resp-tab-active span,
.verticalTab_Right .resp-tab-active,
.verticalTab_Right .resp-tab-active:hover,
.verticalTab_Right ul.resp-tabs-list li.resp-tab-active,
.verticalTab_Right ul.resp-tabs-list li.resp-tab-active span {
    background-color: #04478a
}

.ServeList_6 .Serve_Icon,
.TeamDetail_left .team_social a,
.TeamDetail_right .Teamtitle span,
.Testimonials_1 small span,
.Testimonials_2 small span,
.Testimonials_4 small span,
.Testimonials_5 small span,
.accordion_3 .panel-heading .panel-title a,
.accordion_3 .panel-heading .panel-title a.collapsed:hover,
.accordion_3 .panel-heading .panel-title a:hover,
.accordion_4 .panel-heading .panel-title a,
.accordion_4 .panel-heading .panel-title a:hover,
.accordion_5 .panel-heading .panel-title a,
.accordion_5 .panel-heading .panel-title a.collapsed:hover,
.accordion_5 .panel-heading .panel-title a:hover,
.accordion_6 .panel-heading .panel-title a,
.accordion_6 .panel-heading .panel-title a:hover,
.carousel_1 .item .glyphicons,
.chart_list .percentage,
.chart_list2 .percentage2,
.dropcaps_2,
.dropcaps_4,
.functionList_3 .functionBox:hover .functiontitle,
.functionList_5 .functionBox .functionIcon,
.horizontalTab_Top ul.resp-tabs-list li.resp-tab-active span,
.img_style_5 a .glyphicons,
.latestNews dd h3,
.number_Animation,
.our_team2 .team_social a:hover,
.our_team2 .team_title,
.price-table5 .best_value .price_box,
.price-table5 .price_border:hover .price_box,
.quotes_4 blockquote small,
.verticalTab_Left_3 ul.resp-tabs-list li.resp-tab-active span,
.verticalTab_Right_3 ul.resp-tabs-list li.resp-tab-active span {
    color: #04478a
}

.functionList_5 .functionBox .Ico_border {
    border: 2px solid #04478a
}

@media only screen and (max-width:768px) {
    .horizontalTab_Top .resp-tab-active,
    .horizontalTab_Top .resp-tab-active:hover,
    .verticalTab_Left .resp-tab-active,
    .verticalTab_Left .resp-tab-active:hover,
    .verticalTab_Right .resp-tab-active,
    .verticalTab_Right .resp-tab-active:hover {
        background-color: #04478a
    }
}

.dividers_4 {
    border-bottom: 2px solid #04478a
}

.accordion_4 .panel-heading .panel-title a .accordion_icon,
.accordion_6 .panel-heading .panel-title a .accordion_icon {
    border-right: 1px solid #04478a;
    border-bottom: 1px solid #04478a
}

.Testimonials_5 small:before {
    border-top: 10px solid #04478a
}

.horizontalTab_Top_1 ul.resp-tabs-list li.resp-tab-active {
    border-top: 2px solid #04478a
}

.horizontalTab_Top_3 ul.resp-tabs-list li,
.horizontalTab_Top_3 ul.resp-tabs-list li:hover {
    border: 1px solid #04478a;
    background-color: #04478a
}

.horizontalTab_Top_3 ul.resp-tabs-list li.resp-tab-active,
.horizontalTab_Top_3 ul.resp-tabs-list li.resp-tab-active:hover {
    border-top: 2px solid #04478a
}

.verticalTab_Left_1 ul.resp-tabs-list li.resp-tab-active span,
.verticalTab_Right_1 ul.resp-tabs-list li.resp-tab-active span {
    color: #04478a!important
}

.Skin_05_timeline .news_detail_top h2.news_title,
.Skin_05_timeline .news_post_box .post_box .post_date a:hover,
.Skin_05_timeline .news_post_box .post_box h2.news_title a:hover,
.isotope_grid .isotope_group a.active,
.isotope_grid .isotope_group a:hover,
.player_boxes h1.player_title {
    color: #04478a
}

.verticalTab_Left_1 ul.resp-tabs-list li.resp-tab-active {
    border-left: 2px solid #04478a
}

.verticalTab_Right_1 ul.resp-tabs-list li.resp-tab-active {
    border-right: 2px solid #04478a
}

.verticalTab_Left_2 ul.resp-tabs-list li.resp-tab-active span,
.verticalTab_Right_2 ul.resp-tabs-list li.resp-tab-active span {
    background: #04478a!important
}

.verticalTab_Left_3 ul.resp-tabs-list li,
.verticalTab_Right_3 ul.resp-tabs-list li {
    border: 1px solid #04478a;
    background: #04478a!important
}

.Skin_05_timeline .news_date_box span,
.Skin_05_timeline .news_date_box span i,
.Skin_05_timeline .news_more_box .line span,
.Skin_05_timeline .news_more_box span,
.Skin_05_timeline .news_post_box .news_post .dot,
.Skin_05_timeline .xblog_page .pager,
.content_sytle_2 .shade,
.flip_box_1 .back a.but,
.flip_box_1 .front .glyphicons,
.flip_box_3 .back,
.photo_box .ico span,
.photo_box.content_push_in .content,
.photo_box.content_top_increment .content h3,
.photo_box.ico_push_in .ico,
.photo_box:hover.entirety_bevel .shade {
    background-color: #04478a
}

.verticalTab_Left_3 ul.resp-tabs-list li.resp-tab-active,
.verticalTab_Left_3 ul.resp-tabs-list li.resp-tab-active:hover,
.verticalTab_Right_3 ul.resp-tabs-list li.resp-tab-active,
.verticalTab_Right_3 ul.resp-tabs-list li.resp-tab-active:hover {
    border-top: 2px solid #04478a!important
}

.quotes_2 blockquote {
    border-left: 5px solid #04478a
}

.photo_box.icon_tag_push .ico:before {
    border-right-color: #04478a;
    border-top-color: #04478a
}

.text_sytle_4 h3 span {
    border-bottom-color: #04478a
}

.player_boxes .player_line {
    border-top-color: #04478a;
    border-bottom: 2px solid #04478a
}

.news_post_box .post_box .post_more a:hover {
    background: #04478a;
    border: 1px solid #04478a
}

.Skin_05_timeline .comment_content .comment_date a,
.Skin_05_timeline .comment_content .comment_date a:active,
.Skin_05_timeline .comment_content .comment_date a:hover,
.Skin_05_timeline .comment_content .comment_date a:link,
.Skin_05_timeline .comment_content .comment_date a:visited,
.Skin_05_timeline .news_detail .post_date a:hover,
.Skin_05_timeline .news_detail_top .tab_right .news_detail_username a:hover,
.Skin_05_timeline .post_author_info .author_desc {
    color: #04478a!important
}

.Sidebar_layouts_categories .glyphicons,
.Sidebar_layouts_links .glyphicons,
.Text_layouts .photo_box a:hover span,
.title5,
.title7 {
    color: #04478a
}

.Skin_05_timeline .comment_form .Post_button .CommandButton {
    background: #04478a!important
}

.Grid_layouts .photo_box .shade,
.Login .registerGroup li.userMessages a span,
.Login .registerGroup li.userNotifications a span,
.Single_page a:hover,
.Text_layouts .photo_box .shade,
.phoneHeadBottom .Login .registerGroup li.userMessages a span,
.phoneHeadBottom .Login .registerGroup li.userNotifications a span,
.search,
a.portfolios_default_btn:hover,
a.search:active,
a.search:link,
a.search:visited {
    background-color: #04478a
}

.Container-4 .dnntitle {
    background: #04478a
}

.Container-5 {
    border: 1px solid #04478a
}

.Container-5 .dnntitle {
    border-bottom: 1px solid #04478a
}

.title3 {
    border-bottom: 2px solid #04478a
}

.title10 {
    border-bottom: 2px solid #04478a!important
}

.isotope_grid .portfolios_group a.active,
.isotope_grid .portfolios_group a:hover {
    background-color: #04478a;
    border-color: #04478a
}

.List_layouts_text hr,
.portfolios_carousel .carousel .owl-buttons .owl-next:hover:before,
.portfolios_carousel .carousel .owl-buttons .owl-prev:hover:before,
.portfolios_carousel .carousel_1 .owl-buttons .owl-next:hover,
.portfolios_carousel .carousel_1 .owl-buttons .owl-prev:hover {
    border-color: #04478a
}

.Single_page a,
a.portfolios_default_btn {
    color: #04478a;
    border-color: #04478a
}

a.page_control:hover,
a.page_number:hover {
    color: #04478a!important;
    border-color: #04478a
}

h1,
h2 {
    color: #04478a
}

h3,
h4,
h5 {
    color: #212121;
    font-family: 'Source Sans Pro';
    font-weight: 700
}

h1 {
    font-family: 'Source Sans Pro';
    font-size: 24px;
    line-height: 28px;
    font-weight: 700
}

h2 {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    line-height: 24px;
    font-weight: 700
}

h3 {
    font-size: 18px;
    line-height: 20px
}

h4 {
    font-size: 16px;
    line-height: 18px
}

h5 {
    font-size: 14px;
    line-height: 16px
}

.phoneHeadBottom .Login,
.phoneHeadBottom .Login .loginGroup,
.phoneHeadBottom .Login .registerGroup,
.phoneHeadBottom .Login .registerGroup li.userMessages:after,
.phoneHeadBottom .Login .registerGroup li.userNotifications:after,
.phoneHeadBottom .Login a,
.phoneHeadBottom .Login a:active,
.phoneHeadBottom .Login a:link,
.phoneHeadBottom .Login a:visited {
    color: #777
}

.phoneHeadBottom .Login .registerGroup li.userMessages:hover:before,
.phoneHeadBottom .Login .registerGroup li.userNotifications:hover:before,
.phoneHeadBottom .Login a:hover {
    color: #04478a
}

#dnngo_megamenu ul {
    font-family: 'Open Sans'
}

.HeadPane {
    float: left;
    padding: 6px 0 0;
    margin: 0
}

.HeadPane .Normal,
.HeadPane .Normal a,
.HeadPane .Normal a.social,
.HeadPane .Normal a.social:active,
.HeadPane .Normal a.social:link,
.HeadPane .Normal a.social:visited {
    color: #777
}

#dnngo_megamenu .social-icons a:hover,
.HeadPane .Normal a.social:hover,
.HeadPane .Normal a:hover,
.Login a:hover {
    color: #04478a
}

.languageBox .language-object .Language {
    white-space: nowrap
}

.LogoMenuBox {
    padding: 0
}

.dnn_logo {
    line-height: 103px
}

.pulldownsearch {
    float: right;
    height: 103px
}

.searchbut {
    color: #666
}

#dnngo_megamenu .primary_structure>li {
    height: 103px;
    line-height: 103px
}

#dnngo_megamenu>div>ul>li>a>span {
    position: relative;
    background-color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    font-size: 17px;
    line-height: 36px;
    height: 36px;
    padding: 0 15px;
    text-transform: capitalize;
    font-weight: 700;
    box-sizing: content-box
}

#dnngo_megamenu>div>ul>li.current>a>span,
#dnngo_megamenu>div>ul>li.menu_hover>a>span,
#dnngo_megamenu>div>ul>li>a:hover>span {
    background-color: #04478a;
    color: #FFF
}

#dnngo_megamenu .dnngo_boxslide,
#dnngo_megamenu .dnngo_slide_menu,
#dnngo_megamenu .dnngo_slide_menu .dnngo_submenu {
    background-color: #e9e9e9
}

#dnngo_megamenu .dnngo_boxslide .menu_centerbox .dnngo_masonrymenu>ul>li>a>span,
#dnngo_megamenu .dnngo_slide_menu li {
    border-bottom: 1px solid #ff8200/*#dbdbdb*/
}

#dnngo_megamenu .dnngo_boxslide,
#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a,
#dnngo_megamenu .dnngo_slide_menu li a {
    color: #777
}

#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a span:before,
#dnngo_megamenu .dnngo_slide_menu li.dir>a:before {
    border-right: 1px solid #777;
    border-bottom: 1px solid #777
}

#dnngo_megamenu .dnngo_slide_menu li a:hover,
#dnngo_megamenu .dnngo_slide_menu li.menu_hover>a {
    background-color: #04478a
}

#dnngo_megamenu .dnngo_boxslide .menu_centerbox .dnngo_masonrymenu>ul>li>a>span,
#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a:hover,
#dnngo_megamenu .mega_title {
    color: #04478a;
    font-weight: bold;
}

#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a:hover span:before {
    border-right: 1px solid #04478a;
    border-bottom: 1px solid #04478a
}

@media only screen and (min-width:1200px) {
    #dnngo_megamenu>div>ul>li>a>span {
        padding: 0 25px
    }
    .roll-lg.roll_menu.roll_activated {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        opacity: 1!important
    }
    .roll_menu.roll_activated .roll-lg {
        display: none!important
    }
}

@media only screen and (min-width:768px) and (max-width:979px) {
    #dnngo_megamenu>div>ul>li>a>span {
        padding: 0 10px
    }
}

@media only screen and (max-width:767px) {
    .searchBox2 .search,
    .searchBox2 a.search:active,
    .searchBox2 a.search:link,
    .searchBox2 a.search:visited,
    .searchBox3 .search,
    .searchBox3 a.search:active,
    .searchBox3 a.search:link,
    .searchBox3 a.search:visited {
        background-color: #04478a
    }
    .searchBox2,
    .searchBox3 {
        border: 1px solid #04478a
    }
    .dnn_logo {
        line-height: normal;
        padding: 30px 0 10px
    }
    .Login {
        padding-top: 5px;
        line-height: 30px;
        height: 30px
    }
    .languageBox .language-object .Language {
        height: 30px;
        line-height: 30px;
        padding-bottom: 10px;
        float: none
    }
    .searchBox3 {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 50px
    }
    .multi_menu>ul>li>a>span {
        font-size: 13px;
        font-weight: 700;
        text-transform: capitalize
    }
    .multi_menu>ul>li.current {
        background-color: #04478a;
        border: 1px solid #04478a
    }
    .multi_menu ul li li.current>a>span {
        color: #04478a!important
    }
    .multi_menu ul li span:hover,
    .multi_menu ul li.active:hover>a>span,
    .multi_menu ul li.active>a>span,
    .multi_menu ul li.dir.current.active span:hover,
    .multi_menu>ul>li.dir.current span:hover,
    .multi_menu>ul>li.dir.current>a>span {
        color: #04478a
    }
    .roll-xs.roll_menu.roll_activated {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        opacity: 1!important
    }
    .roll_menu.roll_activated .roll-xs {
        display: none!important
    }

}

#dnngo_megamenu .dnngo_menuslide .dnngo_boxslide a:hover,
.Login,
.Login .loginGroup,
.Login .registerGroup,
.Login .registerGroup li.userMessages:after,
.Login .registerGroup li.userMessages:hover:before,
.Login .registerGroup li.userNotifications:after,
.Login .registerGroup li.userNotifications:hover:before,
.Login a,
.Login a:active,
.Login a:hover,
.Login a:link,
.Login a:visited,
.switchOpen {
    color: #04478a
}

.header_top {
    background: #e9e9e9
}

/* .phoneHeadTop,
.roll_menu,
.roll_menu.roll_activated {
    background: #fff
} */

#dnngo_megamenu>div>ul>li>a>span {
    background: #fff;
    color: #04478a
}

#dnngo_megamenu .dnngo_boxslide .menu_centerbox>.dnngo_masonrymenu>ul>li>a>span,
#dnngo_megamenu h2.mega_title {
    font-size: 14px!important
}

#dnngo_megamenu .dnngo_boxslide .dnngo_masonrymenu>ul>li>a>span {
    font-size: 14px
}

#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a,
#dnngo_megamenu .dnngo_menuslide,
#dnngo_megamenu .dnngo_menuslide .dnngo_boxslide a,
#dnngo_megamenu .dnngo_menuslide .dnngo_slide_menu a,
#dnngo_megamenu .dnngo_slide_menu li {
    font-size: 13px;
    color: #212121
}

.FooterPane .Normal,
.Footer_Bottombg,
.Footer_Bottombg a,
.Footer_Bottombg a:active,
.Footer_Bottombg a:link,
.Footer_Bottombg a:visited,
.Footer_Contentbg .Normal,
.copyright_style,
.copyright_style a,
.copyright_style a:active,
.copyright_style a:link,
.copyright_style a:visited {
    color: #00478a;
    font-size: 13px;
    font-family: 'Open Sans'
}

.Footer_Bottombg a:hover,
.Links_List li a:hover {
    color: #04478a
}

footer {
    background-color: #d6d7d9;
    background-image: url(backgrounds/WilcoLogoBrokenOutC.png); /*greychsm2.jpg*/
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 300px;
    background-size: 20%;
}

.Footer_Contentbg {
    background: #f8f8f8
}

.Links_List li {
    border-bottom: 1px solid #d7d7d7
}

.Theme_Normal_Bottom input[type=number],
.Theme_Normal_Bottom input[type=email],
.Theme_Normal_Bottom input[type=url],
.Theme_Normal_Bottom input[type=search],
.Theme_Normal_Bottom input[type=tel],
.Theme_Normal_Bottom input[type=color],
.Theme_Normal_Bottom input[type=text],
.Theme_Normal_Bottom input[type=password],
.Theme_Normal_Bottom input[type=datetime],
.Theme_Normal_Bottom input[type=datetime-local],
.Theme_Normal_Bottom input[type=date],
.Theme_Normal_Bottom input[type=month],
.Theme_Normal_Bottom input[type=time],
.Theme_Normal_Bottom input[type=week],
.Theme_Normal_Bottom textarea,
.uneditable-input {
    background: #FFF!important;
    border: 1px solid #ddd!important;
    color: #777!important
}

.FooterPane .Normal,
.Footer_Bottombg a,
.Footer_Bottombg a:active,
.Footer_Bottombg a:link,
.Footer_Bottombg a:visited,
.Footer_Contentbg .Normal,
.copyright_style,
.copyright_style a,
.copyright_style a:active,
.copyright_style a:link,
.copyright_style a:visited .Footer_Bottombg {
    color: #00478a;
    font-size: 13px
}

.Footer_Contentbg .title3,
.Footer_Contentbg .title8,
.Links_List li a,
.Links_List li a:active,
.Links_List li a:link,
.Links_List li a:visited {
    color: #00478a
}

.Footer_Contentbg .Theme_Normal_Bottom .btn {
    background: #04478a
}

.Footer_Contentbg .Container-3 .dnntitle,
.Footer_Contentbg .Container-8 .dnntitle {
    border-bottom: 2px solid #d6d6d6
}

.Footer_Contentbg .title3,
.Footer_Contentbg .title8 {
    border-bottom: 2px solid #04478a
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .roll-sm.roll_menu.roll_activated {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        opacity: 1!important
    }
    .roll_menu.roll_activated .roll-sm {
        display: none!important
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .roll-md.roll_menu.roll_activated {
        position: relative!important;
        top: 0!important;
        left: 0!important;
        opacity: 1!important
    }
}

.dnngo_masonrymenu ul ul ul {
    display: none!important
}



.floatclear {
    clear: both
}

.livetabssmoothness .ui-tabs .ui-tabs-nav li { list-style: none; position: relative; float: left; margin: 0 .2em -1px 0; padding: 0; width:33%;}
.livetabssmoothness .ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em .5em/*2em*/; width: 100%;text-align: center;font-size: 1.5em;}

.livetabssmoothness .ui-tabs .ui-tabs-nav li {
    width: 33%;
}
/* This takes out the grandchildren from the 3rd menu item --> */

#dnngo_megamenu .item-3 .dnngo_boxslide .menu_centerbox ul li ul {
    display: none;
}


/* End of the menu "fix" */


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#flag {
    font-size: 1.5em;
    color: #000;
    min-height: 3rem;
}

#flag a:hover {
    color: #212121;
}

#historicElements {
display: flex;
align-items: center;
width:50%;
height: 5em;
gap:1em;
margin-left:25%;
}

.orangeButtons {
flex: 1;
background-color: #ff8200;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
color:#fff;
flex-direction: column;
}

heIcon{
    max-width: 75%;
    fill:#fff;
}