.dnn_layout{
	width:1170px;
}

.LeftPage_Box {
	background-position:193px top ;
 }
.LeftPage_Box_bg1 {
	background-position:193px top ;
}
.LeftPage_Box_bg2{
	background-position:193px bottom ;	 
}
 
.rightPage_Box {
	background-position:537px top ;
 }
.rightPage_Box_bg1 {
	background-position:537px top ;
}
.rightPage_Box_bg2{
	background-position:537px bottom ;
}


.Theme_20_Default img {
	max-width:none;
}

.Banner_Content_List2 {
	background:url(images/arrow_7.png) no-repeat left center;
}

*+html #top_menu li{
	margin:0px 2px 0px 0px;
}
*+html #top_menu li.last-item{
	margin:0px;
}
#header1 #top_menu .menuslide ul,
#header1 .Mega_menu div.mega_submenu {
	border:1px solid #e3e3e3;
}


/*img{
	max-width:none
}
.Normal img{
	max-width:100%
}

*/

#dnngo_megamenu .dnngo_slide_menu li.dir > a:before{
	background:url(images/arrow-1.png) no-repeat 0px -75px;
	width:10px;
	height:10px;
	margin-top:-5px;
	border:none!important;
}
#dnngo_megamenu .dnngo_slide_menu li.dir.menu_hover > a:before,
#dnngo_megamenu .dnngo_slide_menu li:hover.dir > a:before{
	background-position:0px 0px;
}

 
#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a span:before{
	background:url(images/arrow-1.png) no-repeat 0px -75px;
	width:10px;
	height:10px;
	border:none!important;
}

.carousel .owl-buttons .owl-prev:before, 
.carousel .owl-buttons .owl-next:before{
	border:none!important;
	display:none;

}
.carousel .owl-buttons .owl-prev, 
.carousel .owl-buttons .owl-next{
	background-image:url(images/arrow_8.png)!important;
	background-repeat:no-repeat!important;
	background-position:left top !important;
	width:15px;
	height:30px;
	margin-top:-15px;
}

.carousel .owl-buttons .owl-next{
	background-position:right top!important;
}


.carousel_2 .owl-buttons .owl-prev, 
.carousel_2 .owl-buttons .owl-next,
.carousel_3 .owl-buttons .owl-prev, 
.carousel_3 .owl-buttons .owl-next{
	background-color:#7f7f7f;
	width:50px;
	height:50px;
	background-image:url(images/arrow-4.png)!important;
	background-repeat:no-repeat!important;
	background-position:18px center !important;
}
.carousel_2 .owl-buttons .owl-next,
.carousel_3 .owl-buttons .owl-next{
	background-position:-28px center !important;
}
.carousel_4 .sliding{
	background:url(images/opacity_50.png);
	}


.img_style_1 a .glyphicons{
	background:url(images/opacity_20.png);
}

.carousel_6 .owl-buttons .owl-prev,
.carousel_6 .owl-buttons .owl-next{
	background-image:none!important;
}

.carousel_6 .owl-buttons .owl-prev:before, 
.carousel_6 .owl-buttons .owl-next:before{
	border:5px solid transparent!important;
	border-right-color:#FFF!important;
	width:0px!important;
	height:0px!important;
	display:block!important;
	margin:-5px 0 0 -8px !important;
}
.carousel_6 .owl-buttons .owl-next:before{
	border:5px solid transparent!important;
	border-left-color:#FFF!important;
	margin:-5px 0 0 -2px !important;
}

.portfolios_carousel .carousel .owl-buttons .owl-prev,
.portfolios_carousel .carousel .owl-buttons .owl-next{
	width:50px;
	height:50px;
	background-image:url(images/arrow_8.png)!important;
	background-repeat:no-repeat!important;
	background-position:15px center !important;
}
.portfolios_carousel .carousel .owl-buttons .owl-next{
	background-position:-17px center !important;
}

.img_left img ,
.img_right img {
	max-width:none;
}
.player_boxes{
	background-image:url(images/opacity_60.png)
}
.player_boxes.dark{
	background-image:url(images/opacity_60_d.png)
}

/*bootstrap ie*/
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left;}.col-sm-12{width:100%;}.col-sm-11{width:91.66666666666666%;}.col-sm-10{width:83.33333333333334%;}.col-sm-9{width:75%;}.col-sm-8{width:66.66666666666666%;}.col-sm-7{width:58.333333333333336%;}.col-sm-6{width:50%;}.col-sm-5{width:41.66666666666667%;}.col-sm-4{width:33.33333333333333%;}.col-sm-3{width:25%;}.col-sm-2{width:16.666666666666664%;}.col-sm-1{width:8.333333333333332%;}.col-sm-pull-12{right:100%;}.col-sm-pull-11{right:91.66666666666666%;}.col-sm-pull-10{right:83.33333333333334%;}.col-sm-pull-9{right:75%;}.col-sm-pull-8{right:66.66666666666666%;}.col-sm-pull-7{right:58.333333333333336%;}.col-sm-pull-6{right:50%;}.col-sm-pull-5{right:41.66666666666667%;}.col-sm-pull-4{right:33.33333333333333%;}.col-sm-pull-3{right:25%;}.col-sm-pull-2{right:16.666666666666664%;}.col-sm-pull-1{right:8.333333333333332%;}.col-sm-pull-0{right:0;}.col-sm-push-12{left:100%;}.col-sm-push-11{left:91.66666666666666%;}.col-sm-push-10{left:83.33333333333334%;}.col-sm-push-9{left:75%;}.col-sm-push-8{left:66.66666666666666%;}.col-sm-push-7{left:58.333333333333336%;}.col-sm-push-6{left:50%;}.col-sm-push-5{left:41.66666666666667%;}.col-sm-push-4{left:33.33333333333333%;}.col-sm-push-3{left:25%;}.col-sm-push-2{left:16.666666666666664%;}.col-sm-push-1{left:8.333333333333332%;}.col-sm-push-0{left:0;}.col-sm-offset-12{margin-left:100%;}.col-sm-offset-11{margin-left:91.66666666666666%;}.col-sm-offset-10{margin-left:83.33333333333334%;}.col-sm-offset-9{margin-left:75%;}.col-sm-offset-8{margin-left:66.66666666666666%;}.col-sm-offset-7{margin-left:58.333333333333336%;}.col-sm-offset-6{margin-left:50%;}.col-sm-offset-5{margin-left:41.66666666666667%;}.col-sm-offset-4{margin-left:33.33333333333333%;}.col-sm-offset-3{margin-left:25%;}.col-sm-offset-2{margin-left:16.666666666666664%;}.col-sm-offset-1{margin-left:8.333333333333332%;}.col-sm-offset-0{margin-left:0;}.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left;}.col-md-12{width:100%;}.col-md-11{width:91.66666666666666%;}.col-md-10{width:83.33333333333334%;}.col-md-9{width:75%;}.col-md-8{width:66.66666666666666%;}.col-md-7{width:58.333333333333336%;}.col-md-6{width:50%;}.col-md-5{width:41.66666666666667%;}.col-md-4{width:33.33333333333333%;}.col-md-3{width:25%;}.col-md-2{width:16.666666666666664%;}.col-md-1{width:8.333333333333332%;}.col-md-pull-12{right:100%;}.col-md-pull-11{right:91.66666666666666%;}.col-md-pull-10{right:83.33333333333334%;}.col-md-pull-9{right:75%;}.col-md-pull-8{right:66.66666666666666%;}.col-md-pull-7{right:58.333333333333336%;}.col-md-pull-6{right:50%;}.col-md-pull-5{right:41.66666666666667%;}.col-md-pull-4{right:33.33333333333333%;}.col-md-pull-3{right:25%;}.col-md-pull-2{right:16.666666666666664%;}.col-md-pull-1{right:8.333333333333332%;}.col-md-pull-0{right:0;}.col-md-push-12{left:100%;}.col-md-push-11{left:91.66666666666666%;}.col-md-push-10{left:83.33333333333334%;}.col-md-push-9{left:75%;}.col-md-push-8{left:66.66666666666666%;}.col-md-push-7{left:58.333333333333336%;}.col-md-push-6{left:50%;}.col-md-push-5{left:41.66666666666667%;}.col-md-push-4{left:33.33333333333333%;}.col-md-push-3{left:25%;}.col-md-push-2{left:16.666666666666664%;}.col-md-push-1{left:8.333333333333332%;}.col-md-push-0{left:0;}.col-md-offset-12{margin-left:100%;}.col-md-offset-11{margin-left:91.66666666666666%;}.col-md-offset-10{margin-left:83.33333333333334%;}.col-md-offset-9{margin-left:75%;}.col-md-offset-8{margin-left:66.66666666666666%;}.col-md-offset-7{margin-left:58.333333333333336%;}.col-md-offset-6{margin-left:50%;}.col-md-offset-5{margin-left:41.66666666666667%;}.col-md-offset-4{margin-left:33.33333333333333%;}.col-md-offset-3{margin-left:25%;}.col-md-offset-2{margin-left:16.666666666666664%;}.col-md-offset-1{margin-left:8.333333333333332%;}.col-md-offset-0{margin-left:0;}.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left;}.col-lg-12{width:100%;}.col-lg-11{width:91.66666666666666%;}.col-lg-10{width:83.33333333333334%;}.col-lg-9{width:75%;}.col-lg-8{width:66.66666666666666%;}.col-lg-7{width:58.333333333333336%;}.col-lg-6{width:50%;}.col-lg-5{width:41.66666666666667%;}.col-lg-4{width:33.33333333333333%;}.col-lg-3{width:25%;}.col-lg-2{width:16.666666666666664%;}.col-lg-1{width:8.333333333333332%;}.col-lg-pull-12{right:100%;}.col-lg-pull-11{right:91.66666666666666%;}.col-lg-pull-10{right:83.33333333333334%;}.col-lg-pull-9{right:75%;}.col-lg-pull-8{right:66.66666666666666%;}.col-lg-pull-7{right:58.333333333333336%;}.col-lg-pull-6{right:50%;}.col-lg-pull-5{right:41.66666666666667%;}.col-lg-pull-4{right:33.33333333333333%;}.col-lg-pull-3{right:25%;}.col-lg-pull-2{right:16.666666666666664%;}.col-lg-pull-1{right:8.333333333333332%;}.col-lg-pull-0{right:0;}.col-lg-push-12{left:100%;}.col-lg-push-11{left:91.66666666666666%;}.col-lg-push-10{left:83.33333333333334%;}.col-lg-push-9{left:75%;}.col-lg-push-8{left:66.66666666666666%;}.col-lg-push-7{left:58.333333333333336%;}.col-lg-push-6{left:50%;}.col-lg-push-5{left:41.66666666666667%;}.col-lg-push-4{left:33.33333333333333%;}.col-lg-push-3{left:25%;}.col-lg-push-2{left:16.666666666666664%;}.col-lg-push-1{left:8.333333333333332%;}.col-lg-push-0{left:0;}.col-lg-offset-12{margin-left:100%;}.col-lg-offset-11{margin-left:91.66666666666666%;}.col-lg-offset-10{margin-left:83.33333333333334%;}.col-lg-offset-9{margin-left:75%;}.col-lg-offset-8{margin-left:66.66666666666666%;}.col-lg-offset-7{margin-left:58.333333333333336%;}.col-lg-offset-6{margin-left:50%;}.col-lg-offset-5{margin-left:41.66666666666667%;}.col-lg-offset-4{margin-left:33.33333333333333%;}.col-lg-offset-3{margin-left:25%;}.col-lg-offset-2{margin-left:16.666666666666664%;}.col-lg-offset-1{margin-left:8.333333333333332%;}.col-lg-offset-0{margin-left:0;}

#dnngo_megamenu > div > ul > li.dir > a > span:after{
	height: 0px;
	width: 0px;
	border-width:4px;
	border-style:solid;
	border-bottom-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	margin-top:7px;
}
#dnngo_megamenu .dnngo_slide_menu li.dir:before, 
#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a span:before{
	height: 0px;
	width: 0px;
	border-width:5px;
	border-style:solid;
	border-bottom-color:transparent;
	border-right-color:transparent;
	border-top-color:transparent;
	margin-top:-1px;
}
#main_right .searchBox2 input.NormalTextBox{ background-color:transparent;}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{

 }

